{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1 class="display-4">Portal de Vagas CEE</h1>

        <hr class="my-4">

        <img src="../static/img/ceelogo.png" style="max-width: 60%; height: auto;" alt="CEE">

        <hr class="my-4">

        <p>A Comissão  de Estágios e Empregos é uma liga universitária composta pelos alunos do ITA cujo objetivo é conectar o mercado  de trabalho aos alunos do ITA.</p>

        <hr class="my-4">

        {% if not session.logged_in %}
            <a href="/register" class="btn btn-secondary btn-lg">Register</a>
            <a href="/login" class="btn btn-dark btn-lg">Login</a>
        {% endif %}
    </div>

{% endblock %}