{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron">

        <h1 class="text-center">Login</h1>
        <hr>

        <form action="" method="POST">
            <div class="form-group">
                <!-- <label>Email</label> -->
                <input type="email" name="email" class="form-control" value="{{ request.form.email }}"
                       placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
                <!-- <label>Senha</label> -->
                <input type="password" name="password" class="form-control" value="{{ request.form.password }}"
                       placeholder="Senha" required>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>

    </div>
{% endblock %}

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

{% if msg %}
    <div class="alert alert-success">{{ msg }}</div>
{% endif %}